
@{
    ViewBag.Title = "DynamicTextbox";
}

<h2>DynamicTextbox</h2>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
      function GetExistingDynamicTextBoxes(value) {
        var div = $(" <div />");

        var textBox = $(" <input />").attr("type", "textbox").attr("name", "txtBoxes");
        textBox.val(value);
        div.append(textBox);

        var button = $(" <input />").attr("type", "button").attr("value", "Remove");
        button.attr("onclick", "DeleteTextBox(this)");
        div.append(button);

        return div;
    }
    function AppendTextBox() {
        var div = GetExistingDynamicTextBoxes("");
        $("#divTextBoxes").append(div);
    }

    function DeleteTextBox(button) {
        $(button).parent().remove();
    }

    $(function () {
        var values = eval('@Html.Raw(ViewBag.DemoMessage)');
        if (values != null) {
            $("#divTextBoxes").html("");
            $(values).each(function () {
                $("#divTextBoxes").append(GetExistingDynamicTextBoxes(this));
            });
        }
    });
</script>

@using (Html.BeginForm("DynamicTextbox", "Home", FormMethod.Post))
{
    <input id="btnAddTextBox" type="button" value="Add Textbox" onclick="AppendTextBox()" /><br />
        <div id="divTextBoxes">
            <!--Dynamic textboxes-->
        </div><br />
        <input type="submit" value="Submit" />
}